<!-- page content (layout provides header and header actions by default) -->

<div id="toast-container"></div>
      <div class="box-border m-auto h-28 w-32 p-4 
                    border-4 bg-green-500 m4">
    <h2>Your Stats</h2>
    <div id="stats">
      <p>Level: <span id="level"></span></p>
      <p>Experience: <span id="experience"></span></p>
      <p>Skill Points: <span id="skill-points"></span></p>
    </div>
  </div>

  <h2>Actions</h2>
  <div id="actions"></div>
  <% content_for :page_js do %>
    <script type="module">import "pages/home"</script>
  <% end %>
  <script src="https://cdn.jsdelivr.net/npm/@rails/actioncable@7.0.0/app/assets/javascripts/actioncable.js"></script>
    </main>
  </div>
</div>
